div.botLine{
    height: 1px;
    width: 100%;
    border: 0.5px black solid;
}

img.ExpensesListBg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100vh;
        width: 100vw;
        opacity: 0.5;
}