section.py-5{
    div.info{
        border: 2px solid black;
    }
    div.name{
        font-size: 1.4rem;
        position: relative;
        left: 23px;  
    }
    div.email, div.joinDate{
        font-size:1.2rem;
    }
}

    img.profileBg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 110vh;
        width: 100vw;
        opacity: 1;
    }